header {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 4rem;
  padding-bottom: 0;


  nav {
    width: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 10px 10px -8px $dark-primary;
    background-color: $primary;
    border-radius: 4rem 4rem 0 0;

    div {
      padding: 1rem;
    }

    ul {
      text-decoration: none;
      list-style: none;
      display: flex;
      justify-content: flex-end;
      width: 50%;

      li {
        /* 1frac */
        text-align: center;
        flex: 1;
        border-left: 1px solid $dark-primary;
        border-right: 1px solid $dark-primary;

        a {
          i {
            display: none ;
          }
        }

        &.active {
          a {
            i {
              display: block;
            }

            p {
              display: none;
            }
          }
        }
        :hover {
          font-weight: bolder;
          letter-spacing: 0.1rem;
          transition: all 0.5s ease-out;
        }

      }
    }

    
  }
}

